* {
    border: none;
    border-radius: 0;
    font-size: 12px;
    font-family: "Lilex";
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.95);
    color: #ffffff;
}

#workspaces button {
    padding: 0 2px;
    background: #2A2A37;
    color: #879099;
}

#workspaces button.focused {
    background: #285577;
    color: #fff;
    border: #7E9CD8 1px solid;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border: #da605e 1px solid;
    color: #fff;
}

#mode {
    background: #727169;
    padding: 0 5px;
    margin: 0 2px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#custom-updates,
#custom-night_mode,
#custom-weather,
#custom-prayer,
#custom-power,
#language,
#backlight {
    padding: 0 10px;
    margin: 0 2px;
    color: #ffffff;
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    background: #ffbe61;
    color: black;
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#network.disconnected {
    background: #f53c3c;
}

#custom-power {
    color: #ff5555;
    font-size: 14px;
    padding: 0 4px;
    /* margin: 6px 0px; */
}

#custom-power:hover {
    color: #ff0000;
    background-color: rgba(255, 85, 85, 0.1);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#tray {
    padding: 0 10px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
