#lock {
  background-image: url("./icons/lock.svg");
}

#logout {
  background-image: url("./icons/logout.svg");
}

#suspend {
  background-image: url("./icons/suspend.svg");
}

#hibernate {
  background-image: url("./icons/hibernate.svg");
}

#shutdown {
  background-image: url("./icons/shutdown.svg");
}

#reboot {
  background-image: url("./icons/reboot.svg");
}

